[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bs4 = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]
pytest-django = "*"
pytest = "*"

[requires]
python_version = "3.8"
