{% extends 'calculator/base.html' %}

{% block content %}

	<h1 class="mt-1">{% block title %}Minimum Blank Size{% endblock %}</h1>
	<hr />
	<div class="row">
		<div hx-include="#mbs_input"
		     hx-post="/mbs_calculate/"
		     hx-target="#submitted"
		     hx-swap="innerHTML"
		     hx-trigger="keydown delay:250ms, click delay:250ms"
		     class="col-md">
			<form id="mbs_input">
				<div class="row"
				     id="pds">
					<div class="col-sm">
						<label for="right_pd">Right PD (mm)</label>
						<input hx-get="/mbs_calculate/"
						       hx-target="#pds"
						       hx-swap="innerHTML"
						       class="form-control"
						       type="number" 
						       step="0.5" 
						       min="0" 
						       name="right_pd">
					</div>
					<div class="col-sm">
						<label for="left_pd">Left PD (mm)</label>
						<input hx-get="/mbs_calculate/"
						       hx-target="#pds"
						       hx-swap="innerHTML"
						       class="form-control" 
						       type="number" 
						       step="0.5" 
						       min="0" 
						       name="left_pd">
					</div>
				</div>
				<div class="col-sm">
					<label for="frame_size">Frame Size (mm)</label>
					<input class="form-control"
					       type="number" 
					       step="0.5"
					       min="0"
					       name="frame_size">
				</div>
				<div class="col-sm">
					<label for="frame_dbl">Frame DBL (mm)</label>
					<input class="form-control" 
					       type="number" 
					       step="0.5" 
					       min="0" 
					       name="frame_dbl">
				</div>
				<div class="col-sm">
					<label for="effective_diameter">Effective Diameter (mm)</label>
					<input class="form-control" 
					       type="number" 
					       step="0.5" 
					       min="0" 
					       name="effective_diameter">
				</div>
			</form>
			<div class="mt-2">
				<div id="submitted">
					{{ answer }}
				</div>
			</div>

		</div>
		<div class="col mt-2">
			<h3>Information</h3>
			<p> <b>Minimum blank size (MBS)</b> is used to determine if a patient requires a stock or grind lens. 
			This is required to quote the patient appropriately</p>
			<p> To calculate <i>MBS</i>, calculate <i>Frame PD</i>.
			$$Frame PD = Frame Size + Frame DBL$$ </p>
			<p> From this, <i>Decentration</i> as the difference between half the <i>Frame PD</i> and <i>Monocular PD</i>.
			$$Decentration = \left \lvert \frac{Frame PD}{2} - Monocular PD \right \rvert \\$$ </p>
			<p> Finally, MBS is calculated by adding <i>Effective Diameter</i> and an arbitary 2mm is added to compensate for lens bleed.
			$$Minimum Blank Size = Decentration + Effective Diameter + 2$$ </p>
		</div>
	</div>

{% endblock %}
