{% extends 'calculator/base.html' %}

{% block content %}

	<h1 class="mt-1">{% block title %}Back Vertex Power{% endblock %}</h1>
	<hr />
	<div class="row">
		<div hx-include="#bvp_input"
			 hx-post="/bvp_calculate/"
			 hx-target="#submitted"
			 hx-swap="innerHTML"
			 hx-trigger="keydown delay:250ms, click delay:250ms"
			 class="col-md">
			<form id="bvp_input">
				<div class="row">
					<h4>Right</h4> 
					<div class="col-sm">
						<label for="right_sphere">Sphere (DS)</label>
						<input class="form-control"
							   type="number" 
							   step="0.25" 
							   name="right_sphere">
					</div>
					<div class="col-sm">
						<label for="right_cylinder">Cylinder (DC)</label>
						<input class="form-control" 
							   type="number" 
							   step="0.25" 
							   name="right_cylinder">
					</div>
					<div class="col-sm">
						<label for="right_axis">Axis (deg)</label>
						<input class="form-control" 
							   type="number" 
							   min="0"
							   max="180"
							   step="0.5" 
							   name="right_axis">
					</div>
				</div>
				<div class="row mt-2">
					<h4>Left</h4>
					<div class="col-sm">
						<label for="left_sphere">Sphere (DS)</label>
						<input class="form-control"
							   type="number" 
							   step="0.25" 
							   name="left_sphere">
					</div>
					<div class="col-sm">
						<label for="left_cylinder">Cylinder (DC)</label>
						<input class="form-control" 
							   type="number" 
							   step="0.25" 
							   name="left_cylinder">
					</div>
					<div class="col-sm">
						<label for="left_axis">Axis (deg)</label>
						<input class="form-control" 
							   type="number" 
							   min="0"
							   max="180"
							   step="0.5" 
							   name="left_axis">
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-sm">
						<label for="original_bvd">Original BVD (mm)</label>
						<input class="form-control"
							   type="number" 
							   step="0.5"
							   min="0"
							   value="12"
							   name="original_bvd">
					</div>
					<div class="col-sm">
						<label for="new_bvd">Compensated BVD (mm)</label>
						<input class="form-control" 
							   type="number" 
							   step="0.5" 
							   value="0"
							   min="0" 
							   name="new_bvd">
					</div>
				</div>
			</form>
			<div class="mt-2">
				<div id="submitted">
					{{ answer }}
				</div>
			</div>
		</div>
		
		<div class="col mt-2">
			<h3>Information</h3>
			<p><b>Back Vertex Power</b>, also known as working out ocular/spectacle refraction is useful in determining one's contact lens prescription from a refraction.</p>
			<p>In order to calculate this, we use:</p>
			<p>
			$$ Oc Rx = \frac{1}{\frac{1}{Spec Rx} - ( Original BVD - Compensated BVD )}  $$  
		</div>
	</div>

{% endblock %}
