{% extends 'calculator/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

	<h1>OptomCalc</h1>
	<hr />
	<h3>Welcome</h3>
	<p>Hello, this site includes important tools used by Optometrists.</p>
	<h3>About</h3>
	<p>As mentioned before, this includes tools used by Optometrists, mainly online calculators.</p>
	<p>The source code for this <a href="https://github.com/shivans93/optomcalc/">lives here</a></p>
	<p>This is made by Shivan Sivakumaran.</p>
	<h3>Feedback</h3>
	If you have any feedback, please <a href="mailto:shivan@shivansivakumaran.com">email me</a>.

{% endblock %}
