{% extends 'calculator/base.html' %}

{% block title %}Minimum Blank Size{% endblock %}

{% block heading %}Minimum Blank Size{% endblock %}

{% block content %}

	<div hx-include="#mbs_input"
		 hx-post="/mbs_calculate/"
		 hx-target="#submitted"
		 ht-swap="outerHTML">
		<form id="mbs_input">
			<div>
				<input type="number" step="0.5" placeholder="31.0" name="right_pd">
				<label>Right PD (mm)</label>
			</div>
			<div>
				<input type="number" step="0.5" placeholder="31.0" name="left_pd">
				<label>Left PD (mm)</label>
			</div>
			<div>
				<input type="number" step="0.5" placeholder="15.0" name="frame_size">
				<label>Frame Size (mm)</label>
			</div>
			<div>
				<input type="number" step="0.5" placeholder="54.0" name="frame_dbl">
				<label>Frame DBL</label>
			</div>
			<div>
				<input type="number" step="0.5" placeholder="55.0" name="effective_diameter">
				<label>Effective Diameter (mm)</label>
			</div>
		</form>
	</div>
	
	<div id="submitted">
		<p>{{ answer }}</p>
	</div>		

{% endblock %}
