{% extends 'calculator/base.html' %}


{% block content %}

	<h1 class="mt-1">{% block title %}Minimum Blank Size{% endblock %}</h1>
	<div class="row">
		<div hx-include="#mbs_input"
		     hx-post="/mbs_calculate/"
		     hx-target="#submitted"
		     hx-swap="innerHTML"
		     hx-trigger="keydown delay:250ms"
		     class="col-md">
			<form id="mbs_input">
				<div class="row">
					<div class="col-sm">
						<label for="right_pd">Right PD (mm)</label>
						<input class="form-control"
						       type="number" 
						       step="0.5" 
						       min="0" 
						       name="right_pd">
					</div>
					<div class="col-sm">
						<label for="left_pd">Left PD (mm)</label>
						<input class="form-control" 
						       type="number" 
						       step="0.5" 
						       min="0" 
						       name="left_pd">
					</div>
				</div>
				<div class="col-sm">
					<label for="frame_size">Frame Size (mm)</label>
					<input class="form-control"
					       type="number" 
					       step="0.5"
					       min="0"
					       name="frame_size">
				</div>
				<div class="col-sm">
					<label for="frame_dbl">Frame DBL (mm)</label>
					<input class="form-control" 
					       type="number" 
					       step="0.5" 
					       min="0" 
					       name="frame_dbl">
				</div>
				<div class="col-sm">
					<label for="effective_diameter">Effective Diameter (mm)</label>
					<input class="form-control" 
					       type="number" 
					       step="0.5" 
					       min="0" 
					       name="effective_diameter">
				</div>
			</form>
			<div class="mt-2">
				<div id="submitted">
					{{ answer }}
				</div>
			</div>

		</div>
		<div class="col mt-2">
			<i>Content</i>
			<p> Minimum blank size is important to determine if a stock lens or grind lenses is needed. 
			This is important so we can quote the patient.</p>
		</div>
	</div>

{% endblock %}
