{% url 'index' as index_url %}
{% url 'minimum_blank_size' as minimum_blank_size_url %}
{% url 'back_vertex_power' as back_vertex_power_url %}
{% url 'cylinder_transpose' as cylinder_transpose_url %}

<!-- Sidebar -->
<nav class="bg-light" id="sidebar">
	<div class="container">
		<div class="sidebar-header">
			<h3>OptomCalc</h3>
		</div>

		<ul class="navbar-nav">
			<li class="nav-item {% if request.path == index_url %}active{% endif %}">
				<a class="nav-link" href="{{ index_url }}">Index</a>
			</li>
			<li class="nav-item {% if request.path == minimum_blank_size_url %}active{% endif %}">
				<a class="nav-link" href="{{ minimum_blank_size_url }}">Minimum Blank Size</a>
			</li>
			<li class="nav-item {% if request.path == back_vertex_power_url %}active{% endif %}">
				<a class="nav-link" href="{{ back_vertex_power_url }}">Back Vertex Power</a>
			</li>
			<li class="nav-item {% if request.path == cylinder_transpose_url %}active{% endif %}">
				<a class="nav-link" href="{{ cylinder_transpose_url }}">Cylinder Transpose</a>
			</li>
		</ul>
	</div>
</nav>
