{% extends 'calculator/base.html' %} {% block content %}

<h1 class="mt-1">{% block title %}Cylindrical Transposition{% endblock %}</h1>
<hr />
<div class="container-fluid">
  <div class="row">
    <div
      hx-include="#ct_input"
      hx-post="/ct_calculate/"
      hx-target="#submitted"
      hx-swap="innerHTML"
      hx-trigger="keydown delay:250ms, click delay:250ms"
      class="col-md"
    >
      <form id="ct_input">
        <div class="row">
          <div class="col-sm">
            <label for="sphere">Sphere (DS)</label>
            <input
              class="form-control"
              type="number"
              step="0.25"
              name="sphere"
            />
          </div>
          <div class="col-sm">
            <label for="cylinder">Cylinder (DC)</label>
            <input
              class="form-control"
              type="number"
              step="0.25"
              name="cylinder"
            />
          </div>
          <div class="col-sm">
            <label for="axis">Axis (deg)</label>
            <input
              class="form-control"
              type="number"
              min="0"
              max="180"
              step="0.5"
              name="axis"
            />
          </div>
        </div>
      </form>
      <div class="mt-2">
        <div id="submitted">{{ answer }}</div>
      </div>
    </div>
    <div class="col mt-2">
      <h3>Information</h3>
      <p>
        <b>Cylindrical Transposition</b> is used to switch between positive and
        negative cylindrical forms and vice-versa
      </p>
      <p></p>
      <p>
        To calculate, sum the <i>Sphere</i> and <i>Cylinder</i>. $$Sphere +
        Cylinder$$
      </p>
      <p>Change the sign of the <i>Cylinder</i>. $$Cylinder \times -1$$</p>
      <p>Change <i>Axis</i> by 90 degrees</p>
      . $$ 0 \leq Axis \leq 90: Axis + 90 $$ $$ 90 < Axis < 180: 180 - Axis $$
      $$ Axis = 180: 90 $$
    </div>
  </div>
</div>

{% endblock %}
